/*src used: https://css-tricks.com/perfect-full-page-background-image/*/
html {
	background: url("../images/treasure.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
header {
	background-color: black;

}

h1 {
	font-size: 50px;	
	color: red;
	font-weight: bold;
	text-align: center;
	padding: 40px;
}

h3, h2 {
	font-weight: bold;
}

/* Random number for each crystal*/

#play {
	background-color: white;
	font-size: 18px;
	height: 100px;
	width: 400px;
	padding: 30px;
	margin: 25px;
}

#matchNum {
	background-color: orange;
	font-size: 25px;
	float: left;
	height: 75px;
	width: 200px;
	padding: 30px;
	margin: 25px;
}

#winnerAndLoser {
	background-color: green;
	font-size: 25px;
	clear: left;
	height: 80px;
	width: 100px;
	padding: 30px;
	margin: 25px;
}

#blue, #green, #multi, #red {
	height: 80px;
	width: 80px;
	clear: both;
	background-color: lightskyblue;
	padding: 20px;
	margin: 15px;
}

#yourScore {
	background-color: white;
	font-size: 18px;
	height: 100px;
	width: 400px;
	padding: 30px;
	margin: 25px;
}

/* keeping footer at the bottom, https://codepen.io/cbracco/pen/zekgx*/

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: black;
	text-align: center;
}

/* Making site responsive */

@media only screen and (max-width: 768px) {
	.content-wrapper {
        background-color: red;
        width: 75%;
    }
body {
	width: 100%;
}
}



@media only screen and (max-width: 640px) {
	.content-wrapper {
		background-color: blue;
	}
	
	
	body {
		width: 100%;
	}
	
}
