/*src used: https://css-tricks.com/perfect-full-page-background-image/*/
html {
	background: url("../images/treasure.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
header {
	

}

h1 {
	font-size: 50px;	
	color: red;
	font-weight: bold;
	text-align: center;
	padding: 40px;
}

h3 {
	font-weight: bold;
}

#play {
	background-color: white;
	font-size: 18px;
	height: 100px;
	width: 400px;
	padding: 30px;
	margin: 25px;
}

#matchNum {
	background-color: orange;
	font-size: 25px;
	height: 75px;
	width: 300px;
	padding: 50px;
	margin: 25px;
}

#winnerAndLoser {
	background-color: green;
	font-size: 25px;
	height: 80px;
	width: 100px;
	padding: 30px;
	margin: 25px;
}

#blue, #green, #multi, #red {
	height: 80px;
	width: 80px;
	background-color: lightskyblue;
	padding: 20px;
	margin: 15px;
}








